.code-of-conduct {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

a {
  color: rgb(25,19,13);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: #EF233C;
}
