<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " fr" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<div class="hero">
    <div class="logo">
        <img src="./assets/logo.png" alt="logo" class="logoimg" />
        <h1>Paris<br/>Ruby<br/>Workshop</h1>
    </div>
    <h3>
        Un meetup ouvert à tout le monde, pour monter en compétence sur Ruby en pratiquant ensemble.
    </h3>
    <a class="button" href="https://www.meetup.com/fr-FR/Paris-Ruby-Workshop">Rejoignez-nous sur Meetup</a>
</div>
<div class="description">
    <div class="descriptionBlock">
        <h3>Qui ?</h3>
        <p>Le workshop est un espace public ouvert à tout le monde, expert.e.s comme débutant.e.s.</p>
        <p>Nous voulons en faire un espace inclusif qui accueille tout le monde dans les meilleures conditions. Lisez le <Link to="/code_of_conduct">Code de conduite</Link> avant de participer.</p>
    </div>
    <div class="descriptionBlock">
        <h3>Quand ?</h3>
        <p>Tous les deuxièmes mercredi du mois, à partir de 19h15.</p>
        <p>Vous pouvez vous inscrire pour le prochain workshop sur <Link to="https://www.meetup.com/fr-FR/Paris-Ruby-Workshop">notre page meetup</Link>.</p>
    </div>
    <div class="descriptionBlock">
        <h3>Comment ?</h3>
        <p>Nous travaillons sur des katas, de petits exercices faisable en à peu près une heure.</p>
        <p>Tous les katas se font en pairing, c'est-à-dire que deux personnes travaillent ensemble sur un clavier à la fois.</p>
    </div>
</div>
<div class="katas-list">
    <div class="katas">
        <h2><strong>KATAS</strong></h2>
        <ul>
            {% for kata in site.data.katas %}
            <li class="elem-kata">
                <p class="level {{ kata.level }}">Niveau: {{ kata.level }}</p>
                <p class="name-kata">{{ kata.name }}</p>
                <p class="description-kata">{{ kata.description }}</p>
                <a href="https://github.com/{{ kata.repo }}">
                    Le lien vers le repo GitHub
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="katas-list">
    <div class="guidelines">
    <h1>Mode d'emploi</h1>
    Le workshop vient de commencer, et vous venez de trouver quelqu'un avec qui coder ? Super ! Voici les étapes suivantes pour commencer le workshop :
    <ul class="guidelines">
        <li><p> Faites un grand sourire, et présentez-vous brièvement à votre partenaire de pairing.</p></li>
        <li><p> Choisissez un kata que vous voulez coder ensemble.</p></li>
        <li><p> Prenez une minute pour lire l'énoncé chacun de votre côté.</p></li>
        <li><p>Décidez de qui va coder en premier. Cette personne forke le repo.</p></li>
        <li><p>L'autre personne ferme son laptop, et vous commencez à coder en discutant avec votre camarade de paire de ce que vous faites</p></li>
        <li><p>Au bout de 10 minutes, faites un commit, pushez, et échangez de rôle. Celle ou celui qui codait ferme son laptop, l'autre pull le repo et continue de coder.</p></li>
        <li><p>Échangez environ toutes les dix minutes, jusqu'à ce que vous soyez satisfaits du résultat. :-)</p></li>
    </ul>
    </div>
</div>
<div class="bottomTag">
    <h3>
        Happy coding!
    </h3>
</div>

{%- include footer.html -%}

</body>
</html>
